/*----------------------------------------------
# General
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.aos-init:not(.aos-animate)::after{
  position: fixed;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

.intro-text{
  margin-top: 60px;
  margin-bottom: 30px;
}

/*----------------------------------------------
# navbar
----------------------------------------------*/

nav {
  width: 100%;
  transition: all .5s ease;
}

nav.active {
  opacity: 0.8;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  /* color: #fff; */
  font-weight: 500;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
}

/* nav toggler 메뉴버튼 x표시 변경하는 부분 */
/* 참고 :  https://www.youtube.com/watch?v=_MrShB9fh7U&list=PL0rwf9i1eWpldSD0EgjaZj_J6jSeLKqQm&index=21 */

.navbar-toggler {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border: 1px;
  opacity: 1;
  left: 0;
  border-radius: 10px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}


.navbar-toggler.collapsed .top-bar {
  margin-top: -10px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 10px;
  transform: rotate(0deg);
}



/*-----------------------------------------------
# Home
------------------------------------------------*/

#Home{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(44, 44, 44, 0.473), rgba(44, 44, 44, 0.473)), url(/image_file/title_background-unsplash.jpg);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#Home .container{
    position: relative;
    padding-top: 74px;
    text-align: center;
}

#Home h1{
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
}

#Home p{
    color: rgba(255, 255, 255, 0.911);
    font-size: 24px;
    margin-top: 10px;
}

#Home .icon-box{
    border: 1px solid #444;
    border-radius: 10px;
    padding: 30px 20px;
    height: 100%;
    color: #444;
    transition: all .3s ease;
}

#Home .icon-box i{
    padding: 5px;
    font-size: 32px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 10px;
    transition: all .2s ease;
}

#Home .icon-box:hover,
#Home .icon-box:hover i{
    border: 1px solid #aaa;
    color: #aaa;
}

@media (min-width: 1024px) {
  #about .pc { display:block; }
  #about .mobile { display:none; }
  #home {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #about .pc { display:none; }
  #about .mobile { display:block; }
  #home {
    height: auto;
  }
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 20px;
    line-height: 24px;
  }
}



/*-----------------------------------------------
# About
------------------------------------------------*/

/* About left-side : 스위퍼 슬라이더 */

#About .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.aboutSwiper2 {
  height: 80%;
  width: 100%;
}

.aboutSwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.aboutSwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.aboutSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

#About .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about 오른쪽 */

.about-right{
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.about-right-title{
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: italic;
}

.about-icon-box i{
  float: left;
  width: 60px;
  height: 60px;
  font-size: 42px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.about-icon-box h4{
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 70px;
  line-height: 1.2;
}

.about-icon-box p{
  margin-left: 70px;
  line-height: 1.2;
  font-size: 15px;
}


/*-----------------------------------------------
# Services
------------------------------------------------*/

#Services .service-icon-box{
  text-align: center;
  padding: 80px 20px;
  border: .1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;

}

#Services .service-icon-box i{
  margin: 0 auto;
  width: 64px;
  height: 64px;
  font-size: 32px;
  background-color: #aaa;
  border: .1px solid #aaa;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

#Services .service-icon-box h3{
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  color: #151515;
  transition: ease-in-out 0.3s;
}

#Services .service-icon-box p{
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#Services .service-icon-box:hover{
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}


/*-----------------------------------------------
# Projects
------------------------------------------------*/

.project-youtube{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.project-youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------
# Reviews
------------------------------------------------*/

#Reviews{
  margin-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.336)), url(/image_file/title_background-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

#Reviews::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);  
}

#Reviews .section-header{
  margin-bottom: 40px;
}

#Reviews #Reviews-carousel, #Reviews #Reviews-slider{
  overflow: hidden;
}

#Reviews .swiper-slide{
  text-align: center;
  color: #fff
}

#Reviews .swiper-slide .review-img{
  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

#Reviews .swiper-slide h3{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 0px 0;
  color: #fff;
}

#Reviews .swiper-slide h4{
  font-size: 14px;
  color: #ddd;
}

#Reviews .swiper-button-next{
  background-position: center;
  background-color: rgba(170, 170, 170, 0.384);
  width: 40px;
  border-radius: 5px;
  color: #fff;
}


#Reviews .swiper-button-prev{
  background-position: center;
  color: #fff;
  background-color: rgba(170, 170, 170, 0.384);
  width: 40px;
  border-radius: 5px;
}

#Reviews .swiper-button-next i,
#Reviews .swiper-button-prev i{
  font-size: 20px;
}

#Reviews .swiper-button-next::after,
#Reviews .swiper-button-prev::after{
  display: none;
}




@media (min-width: 1024px) {
  #Reviews {
    background-attachment: fixed;
  }
}

@media(max-width: 767px){
  .swiper-button-next,
  .swiper-button-prev{
    display: none;
  }
}

/*-----------------------------------------------
# Portfolio
------------------------------------------------*/

#Projects{
  background-color: #fff;
  padding: 40px;
  margin: 0 auto;
}

.project-filter-list ul{
  display: flex;
  left: 0;
  margin-bottom: 10px;
  justify-content: center;
}

.project-filter-button{
  width: 70px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  color: #444444;
  border: 1px solid #44444459;
  margin: 0 10px 30px 10px;
  list-style: none;
  cursor: pointer;
}

.project-filter-button:first-child{
  margin-left: 0px;
}

.project-filter-button:hover{
  font-size: 18px;
  color: #fff;
  border: 1px solid #aaa;
  background-color: #aaa;
}

.project-filter-button.active{
  background-color: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.gallery-list{
  margin-top: 30px;
}

.gallery_product{
  text-align: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative !important;
}

.gallery_product img{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.gallery_product .image__overlay{
  width: 98%;
  height: 99.9%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  left: 1;
  top: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.562);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.gallery_product .image__overlay > *{
  transform: translateY(20px);
  transition: transform 0.4s;
}

.gallery_product .image__overlay:hover{
  opacity: 1;
}

.gallery_product .image__overlay:hover > *{
  transform: translateY(0px);
}

.gallery_product .image__overlay .img__title{
  font-size: 2em;
  font-weight: bold;
}

.gallery_product .image__overlay .image__description{
  font-size: 1.25em;
  margin-top: 0.25em;
}

/*-----------------------------------------------
# Team
------------------------------------------------*/

#Team{
  padding: 60px 0;
}

#Team .Team-member{
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.Team-member .member-img{
  overflow: hidden;
  position: relative;
}

.Team-member .member-img img{
  width: 100%;
  background-size: cover !important;
  border: 1px solid rgba(170, 170, 170, 0.233);
}

.Team-member .member-img .member-social-links{
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out .3s;
  text-align: center;
}

.Team-member .member-img .member-social-links a {
  transition: color 0.3s;
  color: #151515;
  margin: 0 3px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  transition: ease-in-out 0.3s;
  color: #484848;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Team-member .member-img .member-social-links a:hover{
  color: #151515;
  background: #aaa;
}

.Team-member .member-img .member-social-links i{
  font-size: 24px;
  line-height: 0;
}

.Team-member .member-info {
  text-align: center;
  padding: 25px 15px;
}

.Team-member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #151515;
}

.Team-member .member-info p {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.Team-member .member-info p {
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.Team-member:hover .member-social-links {
  opacity: 1;
  bottom: 15px;
}


/*-----------------------------------------------
# Contact
------------------------------------------------*/


/* 구글 맵 크기 */
.contact_map iframe{
  width: 100%;
  height: 450px;
  margin: 30px auto 50px auto;
}

.contact-info i{
  float: left;
  margin-right: 10px;
  font-size: 20px;
  width: 44px;
  color: #444;
  height: 44px;
  background-color: #eef7ff;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #eef7ff;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.address,
.email,
.phone{
  margin: 20px auto;
}

.phone{
  padding-bottom: 40px;
}

.address:hover i,
.email:hover i,
.phone:hover i{
  color: #eef7ff;
  background-color: #aaa;
  border-color: #aaa;
}

.contact-info h4{
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  line-height: 1.2;
}

.contact-info p{
  font-style: italic;
  margin-left: 60px;
  line-height: 1.2;
  font-size: 15px;
}


/*-----------------------------------------------
# Footer
------------------------------------------------*/

#Footer{
  background: #000;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#Footer .footer-top{
  background: #151515;
  border-bottom: 1px solid #151515;
  padding: 60px 0 30px 0;
}

#Footer .footer-top .footer-info{
  margin-bottom: 30px;
}

#Footer .footer-top .footer-info h3{
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#Footer .footer-top .footer-info p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

#Footer .footer-top .social-links a{
  font-size: 28px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding-top: 5px;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: .3s;
}

#Footer .footer-top .social-links a:hover{
  background: #aaa;
  color: #444;
  position: relative;
  border-bottom: 12px;
}

#Footer .footer-top h4{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#Footer .footer-top .footer-links{
  margin-bottom: 30px;
}

#Footer .footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#Footer .footer-top .footer-links ul i{
  padding-right: 2px;
  color: #aaa;
  font-size: 18px;
  line-height: 1;
}

#Footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#Footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#Footer .footer-top .footer-links ul a {
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 500;
  display: inline-block;
  line-height: 1;
}

#Footer .footer-top .footer-links ul a:hover{
  color: #aaa;
}

#Footer .copyright{
  text-align: center;
  padding-top: 30px;
}

#Footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

/*-----------------------------------------------
# Preloader
------------------------------------------------*/

#Preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#Preloader::before{
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #aaa;
  border-top-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: animate-preloader 1.5s linear infinite;
  animation: animate-preloader 1.5s linear infinite;
}

@-webkit-keyframes animate-preloader{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/*-----------------------------------------------
# BacktoTop
------------------------------------------------*/

.backtotop{
  background: #aaa;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #f0ffff;
  text-decoration: none;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
  transition: all .3s ease-in-out;
}

.backtotop:hover{
  background-color: #f0ffff;
  color: #aaa;
}

.backtotop.active{
  pointer-events: auto;
  opacity: 1;
}

.backtotop.top{
  background: #aaa;
  color: #f0ffff;
}