body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chart_div{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/image_file/title_background-unsplash.jpg);
}

.doughnutchart{
    position: relative;
    width: 40vw;
    height: 40vh;
    opacity: 0.1;
}

.barchart{
    position: relative;
    width: 40vw;
    height: 40vh;
    opacity: 0.1;
}